 <img src="https://drive.google.com/uc?id=18x0Fa9XWHlnH5OWkZ-UMrJVQCdsEmYQw" width=300/>

## Big Data - Prática em BD e BD II [2022/02] </br></br> Laboratório: SPARK SQL

### Professor Altigran da Silva

In [49]:
import warnings
warnings.filterwarnings('ignore')

from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

# Desconecta o SparkContext, caso esteja conectado
#sc.stop()

# Opção 1
conf = SparkConf().setMaster("local").setAppName("UFAM.SparkSQL-Local")

# Opção 2 
#conf = SparkConf().setMaster("spark://10.208.205.1:7077").setAppName("UFAM-Lab1")


# Conecta ao Cluster Spark
sc = SparkContext.getOrCreate(conf = conf) 

# Define um "entry point" para toda as operação SPARK SQL
sqlc = SQLContext(sc)

### Dataset para o Laboratório
---

- [[NeurIPS 2020] Data Science for COVID-19 (DS4C)](https://www.kaggle.com/datasets/kimjihoo/coronavirusdataset?select=Region.csv)
- Data of COVID-19 infection cases in South Korea 

- Arquivos: Case.csv, Region.csv

In [50]:
cases = sqlc.read.load("/Users/alti/temp/DS4C/Case.csv",
                       format="csv", 
                       sep=",", 
                       inferSchema="true", 
                       header="true")

In [51]:
cases.show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|      infection_case|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|       17|37.592888|127.056766|
| 1000009|   Seoul|from other city| true|Coupang Logistics...|       25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|       30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| true|    Seongdong-gu APT|       13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| true|Jongno Community ...|       10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| true|Samsung Medical C...|        7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| true|Jung-gu Fashion C...|        7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| true|  Yeonana News Class|        5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| true|Korea Campus Crus...|        7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| true|Gangnam Yeoksam-d...|        6|        -|         -|
| 1000019|   Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|        6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [53]:
## Converter para dataframe Pandas
import pandas as pd

cases.limit(10).toPandas()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
5,1000006,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
6,1000007,Seoul,from other city,True,SMR Newly Planted Churches Group,36,-,-
7,1000008,Seoul,Dongdaemun-gu,True,Dongan Church,17,37.592888,127.056766
8,1000009,Seoul,from other city,True,Coupang Logistics Center,25,-,-
9,1000010,Seoul,Gwanak-gu,True,Wangsung Church,30,37.481735,126.930121

### Dataframe API
---

- Um DataFrame é uma coleção distribuída de dados organizados em colunas. 
- É conceitualmente equivalente a uma tabela em um BD relacional ou um DataFrame Pandas. 
- Pode-se construir DataFrames a partir de diversas fontes, incluindo arquivos de dados estruturados, tabelas Apache Hive e RDDs existentes do Spark. 
- API Spark DataFrame: operaçoes sobre DataFrames em Spark

In [35]:
cases.select('province','city','infection_case','confirmed').show()

+--------+---------------+--------------------+---------+
|province|           city|      infection_case|confirmed|
+--------+---------------+--------------------+---------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|      Gwanak-gu|             Richway|      119|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|      Dobong-gu|     Day Care Center|       43|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|
|   Seoul|from other city|SMR Newly Planted...|       36|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|
|   Seoul|from other city|Coupang Logistics...|       25|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|
|   Seoul|from other city|Daejeon door-to-d...|        1|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|
+--------+---------------+--------------------+---------+
only showing top 20 rows

In [54]:
cases=cases.select('province','city','infection_case','confirmed')
cases.show()

+--------+---------------+--------------------+---------+
|province|           city|      infection_case|confirmed|
+--------+---------------+--------------------+---------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|      Gwanak-gu|             Richway|      119|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|      Dobong-gu|     Day Care Center|       43|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|
|   Seoul|from other city|SMR Newly Planted...|       36|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|
|   Seoul|from other city|Coupang Logistics...|       25|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|
|   Seoul|from other city|Daejeon door-to-d...|        1|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|
+--------+---------------+--------------------+---------+
only showing top 20 rows

In [55]:
cases.sort("confirmed").show()

+-----------------+---------------+--------------------+---------+
|         province|           city|      infection_case|confirmed|
+-----------------+---------------+--------------------+---------+
|          Jeju-do|              -|contact with patient|        0|
|       Gangwon-do|              -|contact with patient|        0|
|            Seoul|     Gangseo-gu|SJ Investment Cal...|        0|
|            Busan|from other city|Cheongdo Daenam H...|        1|
|     Jeollabuk-do|from other city|  Shincheonji Church|        1|
|            Seoul|from other city|Anyang Gunpo Past...|        1|
|            Seoul|     Gangnam-gu|Gangnam Dongin Ch...|        1|
|           Sejong|from other city|  Shincheonji Church|        1|
|     Jeollanam-do|from other city|  Shincheonji Church|        1|
|          Jeju-do|from other city|       Itaewon Clubs|        1|
|            Seoul|from other city|Daejeon door-to-d...|        1|
|            Seoul|              -|         Orange Life|        1|
|           Sejong|              -|                 etc|        1|
|          Gwangju|              -|                 etc|        1|
|            Daegu|from other city|       Itaewon Clubs|        2|
|            Daegu|from other city|Cheongdo Daenam H...|        2|
|          Incheon|from other city|  Shincheonji Church|        2|
|            Seoul|from other city|Uiwang Logistics ...|        2|
|          Daejeon|from other city|  Shincheonji Church|        2|
|Chungcheongbuk-do|from other city| Guro-gu Call Center|        2|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [38]:
# descending Sort
from pyspark.sql import functions as F
cases.sort(F.desc("confirmed")).show()

+-----------------+---------------+--------------------+---------+
|         province|           city|      infection_case|confirmed|
+-----------------+---------------+--------------------+---------+
|            Daegu|         Nam-gu|  Shincheonji Church|     4511|
|            Daegu|              -|contact with patient|      917|
|            Daegu|              -|                 etc|      747|
| Gyeongsangbuk-do|from other city|  Shincheonji Church|      566|
|      Gyeonggi-do|              -|     overseas inflow|      305|
|            Seoul|              -|     overseas inflow|      298|
|            Daegu|   Dalseong-gun|Second Mi-Ju Hosp...|      196|
| Gyeongsangbuk-do|              -|contact with patient|      190|
|            Seoul|              -|contact with patient|      162|
|            Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
| Gyeongsangbuk-do|              -|                 etc|      133|
|            Daegu|         Seo-gu|Hansarang Convale...|      124|
|            Seoul|      Gwanak-gu|             Richway|      119|
| Gyeongsangbuk-do|   Cheongdo-gun|Cheongdo Daenam H...|      119|
|Chungcheongnam-do|     Cheonan-si|gym facility in C...|      103|
|            Daegu|   Dalseong-gun|Daesil Convalesce...|      101|
|            Seoul|              -|                 etc|      100|
|            Seoul|        Guro-gu| Guro-gu Call Center|       95|
|      Gyeonggi-do|              -|                 etc|       84|
|          Incheon|              -|     overseas inflow|       68|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [39]:
cases.filter((cases.confirmed>10) & (cases.province=='Daegu')).show()

+--------+------------+--------------------+---------+
|province|        city|      infection_case|confirmed|
+--------+------------+--------------------+---------+
|   Daegu|      Nam-gu|  Shincheonji Church|     4511|
|   Daegu|Dalseong-gun|Second Mi-Ju Hosp...|      196|
|   Daegu|      Seo-gu|Hansarang Convale...|      124|
|   Daegu|Dalseong-gun|Daesil Convalesce...|      101|
|   Daegu|     Dong-gu|     Fatima Hospital|       39|
|   Daegu|           -|     overseas inflow|       41|
|   Daegu|           -|contact with patient|      917|
|   Daegu|           -|                 etc|      747|
+--------+------------+--------------------+---------+

In [40]:
cases.groupBy(["province","city"]).agg(F.sum("confirmed") ,F.max("confirmed")).show()

+----------------+---------------+--------------+--------------+
|        province|           city|sum(confirmed)|max(confirmed)|
+----------------+---------------+--------------+--------------+
|Gyeongsangnam-do|       Jinju-si|             9|             9|
|           Seoul|        Guro-gu|           139|            95|
|           Seoul|     Gangnam-gu|            18|             7|
|         Daejeon|              -|           100|            55|
|    Jeollabuk-do|from other city|             6|             3|
|Gyeongsangnam-do|Changnyeong-gun|             7|             7|
|           Seoul|              -|           561|           298|
|         Jeju-do|from other city|             1|             1|
|Gyeongsangbuk-do|              -|           345|           190|
|Gyeongsangnam-do|   Geochang-gun|            18|            10|
|Gyeongsangbuk-do|        Gumi-si|            10|            10|
|         Incheon|from other city|           117|            53|
|           Busan|              -|            85|            36|
|           Daegu|         Seo-gu|           124|           124|
|           Busan|     Suyeong-gu|             5|             5|
|     Gyeonggi-do|   Uijeongbu-si|            50|            50|
|           Seoul|     Yongsan-gu|           139|           139|
|           Daegu|              -|          1705|           917|
|           Seoul|   Seodaemun-gu|             5|             5|
|     Gyeonggi-do|    Seongnam-si|            94|            67|
+----------------+---------------+--------------+--------------+
only showing top 20 rows

In [41]:
cases.groupBy(["province","city"]).agg(
    F.sum("confirmed").alias("TotalConfirmed"),\
    F.max("confirmed").alias("MaxFromOneConfirmedCase")\
    ).show()

+----------------+---------------+--------------+-----------------------+
|        province|           city|TotalConfirmed|MaxFromOneConfirmedCase|
+----------------+---------------+--------------+-----------------------+
|Gyeongsangnam-do|       Jinju-si|             9|                      9|
|           Seoul|        Guro-gu|           139|                     95|
|           Seoul|     Gangnam-gu|            18|                      7|
|         Daejeon|              -|           100|                     55|
|    Jeollabuk-do|from other city|             6|                      3|
|Gyeongsangnam-do|Changnyeong-gun|             7|                      7|
|           Seoul|              -|           561|                    298|
|         Jeju-do|from other city|             1|                      1|
|Gyeongsangbuk-do|              -|           345|                    190|
|Gyeongsangnam-do|   Geochang-gun|            18|                     10|
|Gyeongsangbuk-do|        Gumi-si|            10|                     10|
|         Incheon|from other city|           117|                     53|
|           Busan|              -|            85|                     36|
|           Daegu|         Seo-gu|           124|                    124|
|           Busan|     Suyeong-gu|             5|                      5|
|     Gyeonggi-do|   Uijeongbu-si|            50|                     50|
|           Seoul|     Yongsan-gu|           139|                    139|
|           Daegu|              -|          1705|                    917|
|           Seoul|   Seodaemun-gu|             5|                      5|
|     Gyeonggi-do|    Seongnam-si|            94|                     67|
+----------------+---------------+--------------+-----------------------+
only showing top 20 rows

In [42]:
regions = sqlc.read.load("/Users/alti/temp/DS4C/Region.csv",
                         format="csv", 
                         sep=",", 
                         inferSchema="true", 
                         header="true")
regions.limit(10).toPandas()

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
5,10050,Seoul,Gwanak-gu,37.478290,126.951502,22,33,1,0.89,15.12,4.9,909
6,10060,Seoul,Gwangjin-gu,37.538712,127.082366,22,33,3,1.16,13.75,4.8,723
7,10070,Seoul,Guro-gu,37.495632,126.887650,26,34,3,1.00,16.21,5.7,741
8,10080,Seoul,Geumcheon-gu,37.456852,126.895229,18,19,0,0.96,16.15,6.7,475
9,10090,Seoul,Nowon-gu,37.654259,127.056294,42,66,6,1.39,15.40,7.4,952

In [44]:
cases_regions = cases.join(regions,['province','city'],how='left')
cases_regions.select('province','city','confirmed','kindergarten_count').limit(10).toPandas()

  province             city  confirmed  kindergarten_count
0    Seoul       Yongsan-gu        139                13.0
1    Seoul        Gwanak-gu        119                33.0
2    Seoul          Guro-gu         95                34.0
3    Seoul     Yangcheon-gu         43                43.0
4    Seoul        Dobong-gu         43                26.0
5    Seoul          Guro-gu         41                34.0
6    Seoul  from other city         36                 NaN
7    Seoul    Dongdaemun-gu         17                31.0
8    Seoul  from other city         25                 NaN
9    Seoul        Gwanak-gu         30                33.0

In [45]:
from pyspark.sql.functions import broadcast
cases_regions_wb = cases.join(broadcast(regions), ['province','city'],how='left')

In [46]:
cases_regions_wb.select('province','city','confirmed','kindergarten_count').limit(10).toPandas()

  province             city  confirmed  kindergarten_count
0    Seoul       Yongsan-gu        139                13.0
1    Seoul        Gwanak-gu        119                33.0
2    Seoul          Guro-gu         95                34.0
3    Seoul     Yangcheon-gu         43                43.0
4    Seoul        Dobong-gu         43                26.0
5    Seoul          Guro-gu         41                34.0
6    Seoul  from other city         36                 NaN
7    Seoul    Dongdaemun-gu         17                31.0
8    Seoul  from other city         25                 NaN
9    Seoul        Gwanak-gu         30                33.0

In [62]:
cases.groupBy(["province","city"]).agg(
    F.sum("confirmed").alias("TotalConfirmed"),\
    F.max("confirmed").alias("MaxFromOneConfirmedCase")\
    ).show()

+----------------+---------------+--------------+-----------------------+
|        province|           city|TotalConfirmed|MaxFromOneConfirmedCase|
+----------------+---------------+--------------+-----------------------+
|Gyeongsangnam-do|       Jinju-si|             9|                      9|
|           Seoul|        Guro-gu|           139|                     95|
|           Seoul|     Gangnam-gu|            18|                      7|
|         Daejeon|              -|           100|                     55|
|    Jeollabuk-do|from other city|             6|                      3|
|Gyeongsangnam-do|Changnyeong-gun|             7|                      7|
|           Seoul|              -|           561|                    298|
|         Jeju-do|from other city|             1|                      1|
|Gyeongsangbuk-do|              -|           345|                    190|
|Gyeongsangnam-do|   Geochang-gun|            18|                     10|
|Gyeongsangbuk-do|        Gumi-si|            10|                     10|
|         Incheon|from other city|           117|                     53|
|           Busan|              -|            85|                     36|
|           Daegu|         Seo-gu|           124|                    124|
|           Busan|     Suyeong-gu|             5|                      5|
|     Gyeonggi-do|   Uijeongbu-si|            50|                     50|
|           Seoul|     Yongsan-gu|           139|                    139|
|           Daegu|              -|          1705|                    917|
|           Seoul|   Seodaemun-gu|             5|                      5|
|     Gyeonggi-do|    Seongnam-si|            94|                     67|
+----------------+---------------+--------------+-----------------------+
only showing top 20 rows

In [79]:
cases.agg(F.sum('confirmed')).show()

+--------------+
|sum(confirmed)|
+--------------+
|         11395|
+--------------+

In [82]:
## Criando uma nova coluna
cases_wperc = cases.withColumn("percentt",
                                      F.col("confirmed")*100/cases.agg(F.sum('confirmed')).collect()[0][0])
cases_wperc.show()

+--------+---------------+--------------------+---------+--------------------+
|province|           city|      infection_case|confirmed|            percentt|
+--------+---------------+--------------------+---------+--------------------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|   1.219833260201843|
|   Seoul|      Gwanak-gu|             Richway|      119|  1.0443176831943835|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|  0.8336989907854322|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43| 0.37735849056603776|
|   Seoul|      Dobong-gu|     Day Care Center|       43| 0.37735849056603776|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|  0.3598069328652918|
|   Seoul|from other city|SMR Newly Planted...|       36| 0.31592803861342694|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|  0.1491882404563405|
|   Seoul|from other city|Coupang Logistics...|       25| 0.21939447125932426|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30| 0.26327336551118913|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14| 0.12286090390522159|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13| 0.11408512505484862|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|  0.0877577885037297|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7| 0.06143045195261079|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7| 0.06143045195261079|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5| 0.04387889425186485|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7| 0.06143045195261079|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6| 0.05265467310223782|
|   Seoul|from other city|Daejeon door-to-d...|        1|0.008775778850372971|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6| 0.05265467310223782|
+--------+---------------+--------------------+---------+--------------------+
only showing top 20 rows

In [103]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

## User defined functions

def casesHighLow(confirmed):
    if confirmed < 50: 
        return 'low'
    else:
        return 'high'
    
#convert to a UDF Function by passing in the function and return type of function
casesHighLowUDF = F.udf(casesHighLow, StringType())
CasesWithHighLow = cases.withColumn("HighLow", casesHighLowUDF("confirmed"))
CasesWithHighLow.show()

+--------+---------------+--------------------+---------+-------+
|province|           city|      infection_case|confirmed|HighLow|
+--------+---------------+--------------------+---------+-------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|   high|
|   Seoul|      Gwanak-gu|             Richway|      119|   high|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|   high|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|    low|
|   Seoul|      Dobong-gu|     Day Care Center|       43|    low|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|    low|
|   Seoul|from other city|SMR Newly Planted...|       36|    low|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|    low|
|   Seoul|from other city|Coupang Logistics...|       25|    low|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|    low|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|    low|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|    low|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|    low|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|    low|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|    low|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|    low|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|    low|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|    low|
|   Seoul|from other city|Daejeon door-to-d...|        1|    low|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|    low|
+--------+---------------+--------------------+---------+-------+
only showing top 20 rows

In [101]:
from pyspark.sql.types import *

## User defined functions
def Percent(confirmed):
    confirmed*100/cases.agg(F.sum("confirmed")).collect()[0][0]

percentUDF=F.udf(Percent, FloatType())
    
cases_wperc_v2 = cases.withColumn("percent_v2",percentUDF("confirmed"))
cases_wperc_v2.show()

Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.9/site-packages/pyspark/serializers.py", line 458, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
  File "/opt/homebrew/lib/python3.9/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "/opt/homebrew/lib/python3.9/site-packages/pyspark/cloudpickle/cloudpickle_fast.py", line 602, in dump
    return Pickler.dump(self, obj)
  File "/opt/homebrew/lib/python3.9/site-packages/pyspark/context.py", line 447, in __getnewargs__
    raise RuntimeError(
RuntimeError: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

PicklingError: Could not serialize object: RuntimeError: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

In [102]:
from pyspark.sql.types import *

TotalCases=cases.agg(F.sum("confirmed")).collect()[0][0]


## User defined functions
def Percent(confirmed):
    return confirmed*100/TotalCases

percentUDF=F.udf(Percent, FloatType())
    
cases_wperc_v2= cases.withColumn("percent_v2",percentUDF("confirmed"))
cases_wperc_v2.show()

+--------+---------------+--------------------+---------+-----------+
|province|           city|      infection_case|confirmed| percent_v2|
+--------+---------------+--------------------+---------+-----------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|  1.2198333|
|   Seoul|      Gwanak-gu|             Richway|      119|  1.0443177|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|   0.833699|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|  0.3773585|
|   Seoul|      Dobong-gu|     Day Care Center|       43|  0.3773585|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41| 0.35980693|
|   Seoul|from other city|SMR Newly Planted...|       36| 0.31592804|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17| 0.14918824|
|   Seoul|from other city|Coupang Logistics...|       25| 0.21939448|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30| 0.26327336|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|  0.1228609|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13| 0.11408512|
|   Seoul|      Jongno-gu|Jongno Community ...|       10| 0.08775779|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7| 0.06143045|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7| 0.06143045|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|0.043878894|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7| 0.06143045|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|0.052654672|
|   Seoul|from other city|Daejeon door-to-d...|        1|0.008775779|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|0.052654672|
+--------+---------------+--------------------+---------+-----------+
only showing top 20 rows

### Usando SQL com Dataframes
---

- Spark SQL permite executar consultas SQL em DataFrames 
    - API DataFrames: interface programática
- Consultas SQL podem ser mais concisas e fáceis de entender

In [48]:
cases.registerTempTable('cases_table')
result_df1 = sqlc.sql('select * from cases_table where confirmed>100 order by confirmed desc')
result_df1.show()

+-----------------+---------------+--------------------+---------+
|         province|           city|      infection_case|confirmed|
+-----------------+---------------+--------------------+---------+
|            Daegu|         Nam-gu|  Shincheonji Church|     4511|
|            Daegu|              -|contact with patient|      917|
|            Daegu|              -|                 etc|      747|
| Gyeongsangbuk-do|from other city|  Shincheonji Church|      566|
|      Gyeonggi-do|              -|     overseas inflow|      305|
|            Seoul|              -|     overseas inflow|      298|
|            Daegu|   Dalseong-gun|Second Mi-Ju Hosp...|      196|
| Gyeongsangbuk-do|              -|contact with patient|      190|
|            Seoul|              -|contact with patient|      162|
|            Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
| Gyeongsangbuk-do|              -|                 etc|      133|
|            Daegu|         Seo-gu|Hansarang Convale...|      124|
|            Seoul|      Gwanak-gu|             Richway|      119|
| Gyeongsangbuk-do|   Cheongdo-gun|Cheongdo Daenam H...|      119|
|Chungcheongnam-do|     Cheonan-si|gym facility in C...|      103|
|            Daegu|   Dalseong-gun|Daesil Convalesce...|      101|
+-----------------+---------------+--------------------+---------+

### Windown Functions 
---

- Executam operações estatísticas como classificação e uma coleção de linhas, ou _janela_ (_window_), previamente definia e retorna resultados para cada linha do grupo individualmente.

In [115]:
from pyspark.sql.window import Window

## Define janelas onde todas as lihas tem o mesmo valor de 'province' ordenadas pelo valor de 'confirmed'
windowSpec = Window().partitionBy(['province']).orderBy(F.desc('confirmed'))

## Cria um DF temporário com a coluna Rank que tem a posição (rank) do valor de 'confirmed' dentro da janela
cases.withColumn("rank",F.rank().over(windowSpec)).show(50)

+-----------------+---------------+--------------------+---------+----+
|         province|           city|      infection_case|confirmed|rank|
+-----------------+---------------+--------------------+---------+----+
|            Busan|     Dongnae-gu|       Onchun Church|       39|   1|
|            Busan|              -|     overseas inflow|       36|   2|
|            Busan|              -|                 etc|       30|   3|
|            Busan|              -|contact with patient|       19|   4|
|            Busan|from other city|  Shincheonji Church|       12|   5|
|            Busan|    Haeundae-gu|Haeundae-gu Catho...|        6|   6|
|            Busan|     Suyeong-gu|Suyeong-gu Kinder...|        5|   7|
|            Busan|         Jin-gu|      Jin-gu Academy|        4|   8|
|            Busan|from other city|       Itaewon Clubs|        4|   8|
|            Busan|from other city|Cheongdo Daenam H...|        1|  10|
|Chungcheongbuk-do|              -|     overseas inflow|       13|   1|
|Chungcheongbuk-do|     Goesan-gun|Goesan-gun Jangye...|       11|   2|
|Chungcheongbuk-do|              -|                 etc|       11|   2|
|Chungcheongbuk-do|from other city|       Itaewon Clubs|        9|   4|
|Chungcheongbuk-do|              -|contact with patient|        8|   5|
|Chungcheongbuk-do|from other city|  Shincheonji Church|        6|   6|
|Chungcheongbuk-do|from other city| Guro-gu Call Center|        2|   7|
|Chungcheongnam-do|     Cheonan-si|gym facility in C...|      103|   1|
|Chungcheongnam-do|              -|     overseas inflow|       16|   2|
|Chungcheongnam-do|              -|                 etc|       12|   3|
|Chungcheongnam-do|from other city|Door-to-door sale...|       10|   4|
|Chungcheongnam-do|      Seosan-si|Seosan-si Laboratory|        9|   5|
|Chungcheongnam-do|from other city|             Richway|        3|   6|
|Chungcheongnam-do|from other city|Eunpyeong-Boksago...|        3|   6|
|Chungcheongnam-do|              -|contact with patient|        2|   8|
|            Daegu|         Nam-gu|  Shincheonji Church|     4511|   1|
|            Daegu|              -|contact with patient|      917|   2|
|            Daegu|              -|                 etc|      747|   3|
|            Daegu|   Dalseong-gun|Second Mi-Ju Hosp...|      196|   4|
|            Daegu|         Seo-gu|Hansarang Convale...|      124|   5|
|            Daegu|   Dalseong-gun|Daesil Convalesce...|      101|   6|
|            Daegu|              -|     overseas inflow|       41|   7|
|            Daegu|        Dong-gu|     Fatima Hospital|       39|   8|
|            Daegu|from other city|       Itaewon Clubs|        2|   9|
|            Daegu|from other city|Cheongdo Daenam H...|        2|   9|
|          Daejeon|              -|Door-to-door sale...|       55|   1|
|          Daejeon|              -|     overseas inflow|       15|   2|
|          Daejeon|              -|contact with patient|       15|   2|
|          Daejeon|              -|                 etc|       15|   2|
|          Daejeon|         Seo-gu|Dunsan Electronic...|       13|   5|
|          Daejeon|         Seo-gu|         Orange Town|        7|   6|
|          Daejeon|         Seo-gu|     Dreaming Church|        4|   7|
|          Daejeon|         Seo-gu|Korea Forest Engi...|        3|   8|
|          Daejeon|from other city|  Shincheonji Church|        2|   9|
|          Daejeon|from other city|Seosan-si Laboratory|        2|   9|
|       Gangwon-do|from other city|  Shincheonji Church|       17|   1|
|       Gangwon-do|              -|     overseas inflow|       16|   2|
|       Gangwon-do|from other city|Uijeongbu St. Mar...|       10|   3|
|       Gangwon-do|              -|                 etc|        7|   4|
|       Gangwon-do|       Wonju-si| Wonju-si Apartments|        4|   5|
+-----------------+---------------+--------------------+---------+----+
only showing top 50 rows

### Pivotamento de Tabelas
---

In [118]:
filterd_cases=cases.filter((cases.province=='Busan') | (cases.province=='Daegu') | (cases.province=='Daejeon'))

In [122]:
filterd_cases.groupBy('city').pivot('province').agg(F.sum('confirmed').alias('confirmed')).show()

+---------------+-----+-----+-------+
|           city|Busan|Daegu|Daejeon|
+---------------+-----+-----+-------+
|from other city|   17|    4|      4|
|        Dong-gu| null|   39|   null|
|     Suyeong-gu|    5| null|   null|
|     Dongnae-gu|   39| null|   null|
|         Jin-gu|    4| null|   null|
|         Nam-gu| null| 4511|   null|
|              -|   85| 1705|    100|
|    Haeundae-gu|    6| null|   null|
|   Dalseong-gun| null|  297|   null|
|         Seo-gu| null|  124|     27|
+---------------+-----+-----+-------+